<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <form method="POST" action="/url">

        <label for="url-bar">Enter the URL Here:</label>
        <input type="text" name="url" id="url-bar" placeholder="https://example.com">
        <button type="submit">Generate</button>

    </form>
    
    <h1>Listing the URL's</h1>
    <% urls.forEach(url => { %>
        
        <li>http://localhost:4000/url/<%= url.shortID %></li>

    <% }) %>

        
</body>
</html>